<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidjson.inbox">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="Inbox News"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".category" />
        <activity android:name=".TechAPI" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".BusAPI" />
        <activity android:name=".EntAPI" />
        <activity android:name=".HeaAPI" />
        <activity android:name=".SciAPI" />
        <activity android:name=".SpoAPI" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".FactsActivity" />
        <activity android:name=".RandomFActivity" />
        <activity android:name=".QuestFActivity" />
        <activity android:name=".QuestFMenuActivity" />
        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>